<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-xs-2'>Filter by:</div>
            <div class='col-xs-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
            <div class="col-xs-6 text-right">
                <a class="btn btn-success" [routerLink]="['/games/add']">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-xs-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class='table'
                   *ngIf='games && games.length'>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let game of games | gameFilter:listFilter'>
                        <td>
                            <a [routerLink]="['/game', game._id]">
                            {{ game.title }}
                            </a>
                            <ul [hidden]="detail != game._id">
                                <li>Year: {{game.year}}</li>
                                <li>Genre: {{game.genre}}</li>
                            </ul>
                        </td>
                        <td class="text-right">
                            <a class="btn btn-primary" (click)="showDetail(game._id)">
                                <i class="glyphicon glyphicon-arrow-down" *ngIf="detail != game._id"></i>
                                <i class="glyphicon glyphicon-arrow-up" *ngIf="detail == game._id"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
